<%- include('partial/header') %>
<main id="oferta">
  <div class="container">
    <% carro.forEach(el => { %>
    <div class="box">
      <div class="banner-carro">
        <img src=<%= el.imagem %> alt="" />
      </div>
      <div class="info">
        <h1><%= el.marca %></h1>
        <span class="linha"></span>
        <div class="data">
          <h2><%= el.modelo %></h2>
          <h2><%= el.ano %></h2>
        </div>
        <span class="linha"></span>
        <article>
          <%= el.descricao %>
        </article>
        <span class="linha"></span>
        <div class="detalhes">
          <div class="valor">
            <h1>R$<%= el.valor %></h1>
            <p>dia</p>
          </div>
          <a href="#">
            <input type="button" value="Detalhes" />
          </a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</main>
<%- include('partial/footer') %>
